.header {
    background-color: rgb(149, 177, 149);
    overflow: auto;
}

.links {
    background-color:rgb(209, 209, 209);
    float: left;
    list-style-type: none;
}

.links > li{
    float:left;
    margin-right: 5px
}

.page {
    background-color:rgb(162, 213, 247);
    overflow:auto;
    clear:both;
}

.content{
    background-color: seashell;
    width: 75%;
    height: 100%;
}
.sidebar {
    background-color:white;
    width:25%;
    height:475px;
    float: right;
    list-style-type: none;
    padding: 5px;
    
}

.footer {
    clear: both;
    text-align: center;
}

